<!DOCTYPE html>
<html>

<head>
    <title>Flash Cards</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="js/lib/angular.js" defer></script>
    <script src="js/app.js" defer></script>
    <script src="js/controllers/FlashCardController.js" defer></script>
    <script src="js/controllers/MainController.js" defer></script>
    <script src="js/controllers/StatsController.js" defer></script>
    <script src="js/factories/FlashCardsFactory.js" defer></script>
    <script src="js/factories/ScoreFactory.js" defer></script>
    <script src="js/filters/cheat.js" defer></script>
    <script src="js/directives/loader/loader.js" defer></script>
    <script src="js/directives/flashcard/flashcard.js" defer></script>
    <script src="js/directives/borderOnHover/borderOnHover.js" defer></script>
</head>

<body ng-app="FlashCards">
    <div ng-include="'templates/statistics.html'"></div>

    <div ng-controller="MainController">
        <button class="category-button" ng-repeat="category in categories" ng-click="getCategoryCards(category)" ng-class="{active: category === currentCategory}" border-on-hover>{{category}}</button>
        <button class="category-button" ng-click="getCategoryCards()" border-on-hover>Reset</button>

        <div>
            <loader ng-show="loading"></loader>
        </div>

        <flash-card ng-repeat="flashCard in flashCards | orderBy: 'question'" ng-hide="loading" card="flashCard">
        </flash-card>
    </div>


</body>

</html>
